html {
  height: 100%;
  margin: auto;
  overflow: scroll;
}

body {
  background-color: white;
  overflow:hidden;
  font-family: 'Roboto';
}

.dropdown-menu{
  width: 180%;
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}


 .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.center_down {
  margin: 0;
  position: absolute;
  top: 650px;
  right: 30%;
  left: 30%;
  
}


.center_down_com {
  margin: 0;
  position: absolute;
  top: 500px;
  right: 30%;
  left: 30%;
  
}

.container-fluid-orange {
padding: 5em !important;
background-color: #ff4f00;
font-family: 'Roboto';
text-align: left;
color: white;
align-items: center;
justify-content: center;
font-size: 2.5vw;
font-weight: lighter;
letter-spacing: 0.02em;
opacity: 0.9;
}

.container-fluid-blue {
padding: 5em !important;
background-color: #1f8eed;
font-family: 'Roboto';
text-align: center;
color: white;
text-shadow: 0.2vw 0.2vw 0.5vw black;
display: flex;
align-items: center;
justify-content: center;
font-size: 2vw;
font-weight: lighter;
letter-spacing: 0.02em;
opacity: 0.9;
}

.container-fluid-white {
padding: 5em !important;
background-color: white;
font-family: 'Times New Roman';
text-align: left;
color: black;
font-size: 2vw;
font-weight: lighter;
letter-spacing: 0.02em;
opacity: 0.9;
}


.container-foot {
  padding: 1em !important;
  background-color: #37383b;
  font-family: 'Roboto';
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: lighter;
  letter-spacing: 0.02em;
}

#block-title {
background-color: #5b92e5;
}
#spacer {
  width: 100%;
  height: 100px;
}
#block {
background-color: #5b92e5 ;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 2em;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 2.5em;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
