.parallax { 
    /* The image used */
    background-image: url("images/building.png");

    /* Set a specific height */
    min-height: 700px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}

.rotterdam-parallax { 
    /* The image used */
    background-image: url("images/rotterdam-skyline.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}


.what-parallax { 
    /* The image used */
    background-image: url("images/whatwedo.png");

    /* Set a specific height */
    min-height: 700px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}


.who-parallax { 
    /* The image used */
    background-image: url("images/who.png");

    /* Set a specific height */
    min-height: 700px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}


.whocom-parallax { 
    /* The image used */
    background-image: url("images/whocom.png");

    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0.3vw 0.3vw 0.6vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
}


.unep-parallax { 
    /* The image used */
    background-image: url("images/unep.svg");

    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    text-align: center;
    color: white;
    text-shadow: 0.3vw 0.3vw 0.6vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
}


.eu-parallax { 
    /* The image used */
    background-image: url("images/eu.svg");

    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0.3vw 0.3vw 0.6vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
}


.gather1-parallax { 
    /* The image used */
    background-image: url("images/gathertown_1.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}

.gather2-parallax { 
    /* The image used */
    background-image: url("images/gathertown_2.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}

.gather3-parallax { 
    /* The image used */
    background-image: url("images/gathertown_3.jpg");

    /* Set a specific height */
    min-height: 600px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0.2vw 0.2vw 0.5vw black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.02em;
}